{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <!-- about section -->
  <section class="about_section layout_padding2-top layout_padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 px-0">
                <div class="img-box">
                    <img src="{% static 'images/tesla.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="detail-box">
                    <h2 class="text-center">О наших автомобилях</h2><br>
                    <br>
                    <p class="text-center">
                        Добро пожаловать на страницу "О наших автомобилях". Мы гордимся предоставлением широкого выбора автомобилей для аренды, чтобы удовлетворить ваши потребности в комфорте и надежности во время поездок.
                    </p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Наши автомобили:</h4>
                                <ul>
                                    <li><strong>Разнообразие выбора:</strong> Мы предлагаем различные марки и модели автомобилей, чтобы удовлетворить разные предпочтения и бюджеты. Независимо от того, ищете ли вы стильный седан, просторный кроссовер или практичный внедорожник, у нас есть автомобиль, который подходит именно вам.</li>
                                    <li><strong>Техническое состояние:</strong> Мы регулярно поддерживаем и обслуживаем наши автомобили, чтобы они всегда находились в отличном техническом состоянии. Ваша безопасность и комфорт - наш приоритет.</li>
                                    <li><strong>Комфорт и удобство:</strong> Все наши автомобили оснащены современными удобствами, чтобы сделать вашу поездку приятной. Климат-контроль, мультимедийные системы, навигация - все это доступно для вашего удобства.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><strong>Аренда по доступным ценам:</strong> Мы предлагаем аренду автомобилей по конкурентоспособным ценам. У нас вы можете найти выгодные предложения, чтобы сэкономить на аренде и наслаждаться своей поездкой.</li>
                                    <li><strong>Простой процесс аренды:</strong> Мы сделали процесс аренды максимально удобным и простым. Вы можете забронировать автомобиль онлайн или по телефону, выбрать подходящее время и место получения автомобиля.</li>
                                    <li><strong>Профессиональное обслуживание:</strong> Наши сотрудники готовы помочь вам выбрать автомобиль, ответить на ваши вопросы и предоставить необходимую информацию для вашей поездки.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        Мы гордимся тем, что можем предоставить вам высококачественные автомобили для аренды, чтобы сделать ваше путешествие комфортным и незабываемым. Сделайте выбор в пользу наших автомобилей и отправьтесь в увлекательное путешествие.
                    </p>
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- end about section -->

  {% endblock %}